<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ECONOMEUBLE</title>

  <!-- Bootstrap core CSS -->
  <link href="https://blackrockdigital.github.io/startbootstrap-simple-sidebar/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="https://blackrockdigital.github.io/startbootstrap-simple-sidebar/css/simple-sidebar.css" rel="stylesheet">

   <!-- CSS Style Sheet-->
  <link href="" rel="stylesheet">

</head>

<body>


{% block content %}{% endblock %}




  <!--footer-->
	<footer class="container-fluid footer">
		  <div class="container">
                <div class="contenu-footer">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h6 class="top-footer">Contactez nous:
                                <a href="mailto:economeuble@contact.ca"target="_blanck">Economeuble</a> 
                            </h6>
                            <h6 class ="top-footer">Politiques </h6>
                        </div>
                    <div class="footer-bottom">
                        <p class="credits"> &copy; 2020</p>
                </div>
            </div>
        </div>
    </footer>
        <!--end footer--> 


</body>

</html>
