{% extends "default.html" %}


{% block content %}

    <h1>À Propos de nous</h1>
    <br>
    <br>

    <big>Economeuble est une plateforme permettant aux utilisateurs d'acheter ou de vendre des meubles neufs ou usagés de nature antique ou artisanale.</big>

    <br>
    <br>

    <big>Pour toutes autres informations veuillez consulter la page de foire aux questions : <a href="{{ url_for ('faq') }}" style="color: #7386D5;">ici.</a></big>

    <br>

    <big>Ou nous écrire : <a href="mailto: economeuble@info.ca" style="color: #7386D5;">economeuble@info.ca</a></big>

    <br>
    <br>

    <h1>Politiques</h1>
    <br>
    <br>
    <h5>Confidentialité</h5>
    <br>
    <br>
    <big>Economeuble garanti toute la confidentialité de ses utilisateurs.</big>

    <br>
    <br>
    <h5>Services</h5>
    <big>Pour utiliser une partie ou certains des services ou y accéder, vous pourriez devoir vous inscrire auprès de nous et créer un compte à l’aide de votre adresse de courriel et d’un mot de passe (votre « compte »). L’adresse de courriel que vous fournissez sera l’adresse de courriel rattachée à votre nom, et il vous incombera exclusivement de maintenir la confidentialité de votre mot de passe. Vous serez entièrement et exclusivement responsable de toutes les activités qui se déroulent dans votre compte. Par conséquent, vous devez protéger votre mot de passe et le rendre difficile à deviner pour quiconque.</big>
    <br>
    <br>
    <big>
    Vous placez, modifiez et supprimez vos anonces à votre guise. Les articles que vous publiez doivent etre identiques à la description que vous leur donnez.
    </big>
    <br>
    <br>
    <h5>Frais de services</h5>
    <big>
    L'utilisation d'économeuble est complétement gratuite et à la porte de tous.
    </big>
    <br>
    <br>
    <h5>Généralité</h5>
    <br>
    <br>
    <big>L'équipe d'économeuble se porte garante de bannir tout utilisateur ne respectant pas ses politiques, essayant de frauder ou d'arnaquer d'autres usitilisatuers</big>
    <br>
    <br>
    <big>Le remboursement et le retour de produit se fait en écrivant à <a href="mailto: economeuble@info.ca" style="color: #7386D5;">economeuble@info.ca</a></big>







    <br>
    <br>
    <small>Cette plateforme a été commandité et sponsorisée par l'Organisme des Vendeurs et Acheteurs de Meubles du Québéc (OVAMQ).</small>


{% endblock content %}