{% extends "default.html" %}


{% block content %}

    <h1>À Propos de nous</h1>
    <br>
    <br>

    <big>Economeuble est une plateforme permettant aux utilisateurs d'acheter ou de vendre des meubles neufs ou usagés de nature antique ou artisanale.</big>

    <br>
    <br>

    <big>Pour toutes autres informations veuillez consulter la page de foire aux questions : <a href="{{ url_for ('faq') }}" style="color: #7386D5;">ici.</a></big>

    <br>

    <big>Ou nous écrire : <a href="mailto: economeuble@info.ca" style="color: #7386D5;">economeuble@info.ca</a></big>

    <br>
    <br>



    <small>Cette plateforme a été commandité et sponsorisée par l'Organisme des Vendeurs et Acheteurs de Meubles du Québéc (OVAMQ).</small>


{% endblock content %}