{% extends "default.html" %}
{% block content %}

 {% for article in articles %}
        <article class="media content-section">
        	<img class="rounded-circle article-img" src="{{ url_for ('static', filename='profile_pics/' + article.author.image_profile)}}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ article.author.username }}</a>
              <small class="text-muted">{{ article.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('article', article_id=article.id) }}">{{ article.title }}</a></h2>
            <a href="{{ url_for('article', article_id=article.id) }}"><img class="image" src="{{ url_for ('static', filename='articlepics/' + article.picture) }}"></a>
            <br>
            <br>

            <p class="article-content">{{ article.description }}</p>

            <h4><a class="article-price" href="{{ url_for('article', article_id=article.id) }}">{{ article.price }}</a></h4>
          </div>

        </article>
        <br>
        <br>
        <br>
    {% endfor %}
	



{% endblock %}