{% extends "default.html" %}
{% block content %}

<h1 class="mb-3"> Articles de {{ user.username }} ({{ articles.total }})</h1>


<br>
<br>


<div class="rating">

  <h3> Note pour ce vendeur </h3>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <span class="fa fa-star"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>

  
</div>
<br>
<br>

 {% for article in articles.items %}
        <article class="media content-section">
        	<img class="rounded-circle article-img" src="{{ url_for ('static', filename='profile_pics/' + article.author.image_profile)}}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{url_for('user_articles', username=article.author.username)}}">{{ article.author.username }}</a>
              <small class="text-muted">{{ article.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('article', article_id=article.id) }}">{{ article.title }}</a></h2>
            <a href="{{ url_for('article', article_id=article.id) }}"><img class="image" src="{{ url_for ('static', filename='articlepics/' + article.picture) }}"></a>
            <br>
            <br>

            <p class="article-content">{{ article.description }}</p>

            <h4><a class="article-price" href="{{ url_for('article', article_id=article.id) }}">{{ article.price }}</a></h4>
          </div>

        </article>
        <br>
        <br>
        <br>
    {% endfor %}

    {% for page_num in articles.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

      {% if page_num %}

        {% if articles.page == page_num %}
          <a class="btn btn-info mb-4" href="{{url_for ('user_articles', username=user.user_name, page=page_num)}}">{{ page_num }}</a>

        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{url_for ('user_articles', username=user.user_name, page=page_num)}}">{{ page_num }}</a>

        {% endif %}

      {% else %}

      {% endif %}


    {% endfor %}
	



{% endblock %}